@import "bootstrap";

body {
    background-color: #f5f0f0;
  }

  .top-nav {
    background-color: white;
    border-bottom-color: #edeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }